.task_info {
  padding: 1rem;

  span {
    font-weight: 300;
    color: var(--primary-color);
  }
  h1::first-letter {
    text-transform: capitalize;
  }
  .task_description {
    font-weight: 300;
    color: var(--primary-color);
  }
  .label {
    margin-top: 2rem;
    font-weight: 600;
    color: var(--primary-color);
  }
}
