.header {
  height: 80px;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  .header_title {
    font-size: 2rem;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
